openapi: 3.1.1
info:
  title: Website-API
  version: 1.0.0
servers:
  - url: https://api.informatik-projekt.tech/v1
tags:
  - name: blog
    description: All operations about blog posts
  - name: calendar
    description: All operations about the calendar
paths:
  /blog/post:
    get:
      tags:
        - blog
      summary: Get all blog posts
      description: Retrieve a list of all blog posts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlogPost'
        "404":
          description: No blog posts found

  /blog/post/{postId}:
    get:
      tags:
        - blog
      summary: Get a specific blog post
      description: Retrieve a specific blog post by its ID
      parameters:
        - name: postId
          in: path
          description: The corresponding ID of the blog post
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
        "400":
          description: Invalid ID supplied
        "404":
          description: Blog post not found

  /calendar/event:
    get:
      tags:
        - calendar
      summary: Get all events
      description: Retrieve a list of all events
      parameters:
        - name: upcoming-only
          in: query
          description: Only retrieve upcoming events
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        "404":
          description: No calendar events found

  /calendar/event/{eventId}:
    get:
      tags:
        - calendar
      summary: Get a specific event
      description: Retrieve a specific event by its ID
      parameters:
        - name: eventId
          in: path
          description: The corresponding ID of the event
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        "400":
          description: Invalid ID supplied
        "404":
          description: Event not found

components:
  schemas:
    BlogPost:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 187
        title:
          type: string
          description: Blog Post Title
          example: Tag der offenen Tür
        content:
          type: string
          description: Blog Post Content
        author:
          type: string
          description: Blog Post Author
          example: John Pork
        creationDate:
          type: string
          format: date-time
        imageUrl:
          type: string
          description: URL to the image
          example: https://example.com/image.jpg
      xml:
        name: blogPost
    Event:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 187
        title:
          type: string
          description: Event Title
          example: Tag der offenen Tür
        description:
          type: string
          description: Event Description
        fromDateTime:
          type: string
          format: date-time
        toDateTime:
          type: string
          format: date-time
        allDay:
          type: boolean
      xml:
        name: event